*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #333;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

header h1 {
	font-size: 3rem;
	margin-top: 2rem;
}

main article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 3rem;
	background: rgb(59, 59, 59);
	padding: 1rem;
	border-radius: 5px;
}

main article h2 {
	font-size: 2.5rem;
	text-decoration: underline;
	text-underline-offset: 3px;
	margin-bottom: 2rem;
}

main article .table > div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

main article .table .headings {
	font-size: 1.2rem;
}

main article .table .row img {
	padding: 2rem;
	width: 100%;
	-webkit-user-drag: none;
}

main article .table .row h4 {
	font-size: 1.3rem;
}

main article .table .row .status {
	width: 70%;
	height: 70%;
	cursor: pointer;
}

main article .table .row .status.green {
	background: lightgreen;
}

main article .table .row .status.yellow {
	background: rgb(236, 143, 109);
}

main article .table .row .status.red {
	background: rgb(252, 80, 80);
}
